body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("img.jpg");
    background-size: cover;
    background-position: center;
}
.div1{
    width: 420px;
    background:transparent;
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
}
.div1 h1{
    font-size: 36px;
    text-align: center;
}
.inputbox{
    
    width: 94%;
    height: 50px;
    margin: 30px 0;
}
.inputbox input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    color: white;
    font-size: 16px;
   padding-left: 20px;
}
.inputbox input::placeholder{
    color: white;
}
.remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.remember-forgot label input{
    accent-color: white;
    margin-right: 3px;
}
.remember-forgot a{
    color: white;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.login-btn{
    display: flex;
    width: 100%;
    height: 45px;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: #333;
}
.register{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 14.5px;
    margin: 20px 0 15px;
}
.register a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.register a:hover{
    text-decoration: underline;
}